/*
We want the font a bit reduced for the top-menu links
*/

.nav-link {
    // font-size: .75em;
    // font-weight: bold;
}

@include media-breakpoint-up(xl) {
    .nav-link {
        // font-size: 1em;
        // font-weight: bold;
    }
}

.navigation-button {
    text-transform: uppercase;
    font-size: 1.0rem;
    border-radius: 70px;

    &:before, &:after {
        content: "\00a0  \00a0";
    }
}