.. title: {{ talk_number }}
.. slug: talk-{{ talk_number }}
.. date: 2018-10-08 19:09:13 UTC+04:00
.. type: text
.. template: talk.tmpl


{% raw %}
{{% talk_details
{% endraw %}
    talk_number='{{ talk_number }}'
{% raw %}
%}}
{% endraw %}