{#  -*- coding: utf-8 -*- #}

{% macro html_footer() %}
    <hr class="border-0 spacer">

    <footer class="jumbotron jumbotron-fluid bg-midnight-blue text-light mb-0">
        <div class="container">
            <div class="row">
                {% if lang == 'en' %}
                    {# English footer #}
                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Event</li>
                            {# <li><a href="#" class="text-white">Schedule</a></li> #}
                            {# <li><a href="#" class="text-white">Venue</a></li> #}
                            <li><a href="/about/" class="text-white">About</a></li>
                            <li><a href="/sponsors/" class="text-white">Sponsors</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Participate</li>
                            <li><a href="/registration/" class="text-white">Registration</a></li>
                            <li><a href="/fa/" class="text-white">Financial Aid</a></li>
                            <li><a href="http://eepurl.com/bs9mG9" class="text-white">Newsletter</a></li>
                            <li><a href="/volunteer/" class="text-white">Become a Volunteer</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Information</li>
                            <li><a href="/code-of-conduct/" class="text-white">Code of Conduct</a></li>
                            <li><a href="mailto:organizers@pycon.ca" class="text-white">Contact</a></li>
                            <li><a href="http://us11.campaign-archive.com/home/?u=5cc0d84ff77b9bb778875c680&id=d2a954e0b6" class="text-white">Newsletter Archive</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Follow us</li>
                            <li><a href="https://facebook.com/pyconca" class="text-white">Facebook</a></li>
                            <li><a href="https://twitter.com/pyconca" class="text-white">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCclkPrurwUP_ajqi3vDTNDg" class="text-white">Youtube</a></li>
                        </ul>
                    </div>
                {% else %}
                    {# French footer #}
                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">L'événement</li>
                            {# <li><a href="#" class="text-white">Programme</a></li> #}
                            {# <li><a href="#" class="text-white">Lieu</a></li> #}
                            <li><a href="/fr/about/" class="text-white">À propos</a></li>
                            <li><a href="/fr/sponsors/" class="text-white">Commanditaires</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Participer</li>
                            <li><a href="/fr/registration/" class="text-white">Enregistrement</a></li>
                            <li><a href="/fr/fa/" class="text-white">Aide financière</a></li>
                            <li><a href="http://eepurl.com/bs9mG9" class="text-white">Bulletin</a></li>
                            <li><a href="/fr/volunteer/" class="text-white">Devenir bénévole</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Information</li>
                            <li><a href="/fr/code-of-conduct/" class="text-white">Code de conduite</a></li>
                            <li><a href="mailto:organizers@pycon.ca" class="text-white">Contact</a></li>
                            <li><a href="http://us11.campaign-archive.com/home/?u=5cc0d84ff77b9bb778875c680&id=d2a954e0b6" class="text-white">Archive du bulletin</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul class="list-unstyled">
                            <li class="text-red">Suivez nous</li>
                            <li><a href="https://facebook.com/pyconca" class="text-white">Facebook</a></li>
                            <li><a href="https://twitter.com/pyconca" class="text-white">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCclkPrurwUP_ajqi3vDTNDg" class="text-white">Youtube</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </footer>
{% endmacro %}
