{% extends 'base.tmpl' %}

{% block content_post %}
{{ post.text() }}

<hr class="border-0 spacer">

<div class="container text-center">
    <h2 class="display-3">{{ messages("Our Sponsors") }}</h2>

    <p class="lead">{{ messages('General Sponsor Info') }}</p>

    <div class="row row-grid justify-content-center my-5">
    {% for level, sponsor_list in global_data['sponsors'].items() %}{% for sponsor in sponsor_list %}
      <div class="col-md-3">
        <a href="#{{ level }}-{{ loop.index }}" class="w-100 h-100 d-flex justify-content-center">
          <img class="w-100 h-100" src="{{ sponsor['logo'] }}">
        </a>
      </div>
    {% endfor %}{% endfor %}
    </div>

    <div class="btn-group">
        <a class="btn btn-dark-cyan btn-lg" href="mailto:sponsorship@pycon.ca" role="button">Contact our Sponsorship Committee</a>
        <a class="btn btn-lg btn-secondary" href="/static/pyconca2018-prospectus.pdf">
            {{ messages('Download our sponsorship prospectus.') }}
        </a>
    </div>
</div>
{% endblock %}
