{% extends 'base.tmpl' %}

{% block content_post %}
<div class="container mt-4">
    {# Heading #}
    <div class="page-title border-bottom pb-4 mb-4">
        <h1 class="mb-0 pb-0">
          {{ messages("organizing-team") }}
        </h1>

        {# Small paragraph talking about the team #}
        <p class="lead">{{ messages('org-team-message') }}</p>

    </div>
</div>
<div class="container">
    <div class="card-columns">
        {{ post.text() }}
    </div>
</div>
{% endblock %}
