{% extends 'base.tmpl' %}

{% block content_post %}
<div class="container mt-4">
  <ul class="row">
    {% for organizer in global_data['organizers'] %}
    <li class="col-sm-6 media mb-2">
      <img class="mr-3" style="width:64px;" src="/images/organizers/{{ organizer.photo }}" alt="{{ organizer.first_name }}{% if organizer.last_name %} {{ organizer.last_name }}{% endif %}">
      <div class="media-body">
        <h5 class="mt-0 mb-1">
          {{ organizer.first_name }}
          {% if organizer.last_name %}{{ organizer.last_name }}{% endif %}
        </h5>

        {% if organizer.title or organizer.company %}
        <h6>
          {% if organizer.title and organizer.company %}
          {{ organizer.title }} @ {{ organizer.company }}
          {% elif organizer.title %}
          {{ organizer.title }}
          {% elif organizer.company %}
          {{ organizer.company }}
          {% endif %}
        </h6>
        {% endif %}

        {% if organizer.website %}
        <a href="{{ organizer.website }}" title="Website"><i class="fas fa-browser">Website</i></a>
        {% endif %}

        {% if organizer.twitter %}
        <a href="https://twitter.com/{{ organizer.twitter }}" title="Twitter"><i class="fab fa-twitter-square">Twitter</i></a>
        {% endif %}

        {% if organizer.mastodon %}
        <a href="{{ organizer.mastodon }}" title="Mastodon"><i class="fab fa-mastodon">Mastodon</i></a>
        {% endif %}

        {% if organizer.instagram %}
        <a href="https://instagram.com/{{ organizer.instagram }}" title="Instagram"><i class="fab fa-instagram">Instagram</i></a>
        {% endif %}

        {% if organizer.github %}
        <a href="https://github.com/{{ organizer.github }}" title="GitHub"><i class="fab fa-github">GitHub</i></a>
        {% endif %}

        {% if organizer.gitlab %}
        <a href="https://gitlab.com/{{ organizer.gitlab }}" title="GitLab"><i class="fab fa-gitlab">GitLab</i></a>
        {% endif %}

        {% if organizer.bitbucket %}
        <a href="https://bitbucket.org/{{ organizer.bitbucket }}" title="Bitbucket"><i class="fab fa-bitbucket">Bitbucket</i></a>
        {% endif %}

        {% if organizer.facebook %}
        <a href="https://facebook.com/{{ organizer.facebook }}" title="Facebook"><i class="fab fa-facebook">Facebook</i></a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
