{% extends 'base.tmpl' %}

{% block content_header %}
<div class="container mt-4">
  <div class="page-title border-bottom-1 pb-1 mb-4">
    <h1 class="display-4">{{ post.title()|e }}</h1>
    {% if post.meta('description') %}
        <h2 class="h1">{{ post.meta('description') }}</h2>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content_post %}
<div class="container">
  {{ post.text() }}
</div>
{% endblock %}
