{% extends 'base.tmpl' %}

{% block content_post %}
<div class="container mt-4">
  {# Heading #}
  <div class="page-title border-bottom pb-4 mb-4">
    <h1 class="mb-0 pb-0">
      {{ messages("Our Sponsors") }}
    </h1>

    {# Small paragraph talking about sponsorship #}
    <p class="lead">{{ messages('General Sponsor Info') }}</p>

    <a class="btn btn-lg btn-primary" href="/static/pyconca2018-prospectus.pdf">
      {{ messages('Download our sponsorship prospectus.') }}
    </a>
    <a class="btn btn-lg btn-primary" href="http://eepurl.com/dMxIQ-/">
      {{ messages('Subscribe to our sponsorship mailing list') }}
    </a>
  </div>

  <div class="container d-none">
  {% for level, sponsor_list in global_data['sponsors'].items() %}
  <div class="row row-grid justify-content-center">
    {% for sponsor in sponsor_list %}
    <div class="{% if level == 'gold' %}col-sm-6{% elif level == 'silver' %}col-sm-4{% else %}col-sm-2{% endif %} my-4">
      <a href="#{{ level }}-{{ loop.index }}">
        <img class="w-100" src="{{ sponsor['logo'] }}">
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  </div>

  {# Sponsor Descriptions #}

  {% for level, sponsor_list in global_data['sponsors'].items() %}
  <h1>{{ messages('name-' + level) }}</h1>

  {% for sponsor in sponsor_list %}
  <div class="card mb-2" id="{{ level }}-{{ loop.index }}">
    <div class="card-body">
      <div class="row">
{#        {% if loop.index is odd %}#}
{#      We swapped sponsor positions left and right, but this messes up #}
{#        mobile view,  #}
{#      so not doing it. #}
        {% if loop.index %}
        <div class="col-12 col-md-3">
          <a class="d-flex w-100 justify-content-center" href="{{ sponsor['web_link'] }}">
            <img src="{{ sponsor['logo'] }}" class="img-fluid w-75">
          </a>
        </div>
        <div class="col-12 col-md-9">
          <div class="card-block px-2">
            <h4 class="card-title mt-0">
              <a href="{{ sponsor['web_link'] }}">
                {{ sponsor['name'][lang] }}
              </a>
            </h4>
            <p class="card-text mb-3">{{ sponsor['description'][lang] }}</p>
          </div>
        </div>
        {% else %}
        <div class="col-12 col-md-9">
          <div class="card-block px-2">
            <a href="{{ sponsor['web_link'] }}">
              <h4 class="card-title mt-3">{{ sponsor['name'][lang] }}</h4>
            </a>
            <p class="card-text mb-3">{{ sponsor['description'][lang] }}</p>
          </div>
        </div>
        <div class="col-12 col-md-3 align-middle">
          <img src="{{ sponsor['logo'] }}" class="img-fluid w-100">
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
{% endblock %}
