<div class="mailing-wrapper">
    <div class="container">
        <div class="row mt-3 mb-3 pt-4 pb-3">
            <div class="col text-center">
                <h2 class="mail-heading text-red">{{ mail_banner }}</h2>
                <p>{{ mail_text }}</p>
                <a class="btn btn-primary mail-button" href="{{ mail_link }}" role="button">{{ mail_button_text }}</a>                
            </div>
        </div>
    </div>
</div>
<img src="/images/2018_pycon_building.svg" class="rounded float-right mail-image-building">
<hr class="border-0 spacer">
