<div class="container">
    <div class="row">
        <div class="col text-center d-none d-lg-block">
            <!-- Display for desktop -->
            <div class="btn-group" role="group" aria-label="Schedule Links">
                <a class="btn btn-primary" href="{{ link_1 }}" role="button">{{ text_1 }}</a>
                <a class="btn btn-secondary" href="{{ link_2 }}" role="button">{{ text_2 }}</a>
                <a class="btn btn-primary" href="{{ link_3 }}" role="button">{{ text_3 }}</a>
                <a class="btn btn-secondary" href="{{ link_4 }}" role="button">{{ text_4 }}</a>
            </div>
        </div>
        <div class="col text-center d-lg-none">
            <!-- Display for mobile -->
            <div class="btn-group-vertical" role="group" aria-label="Schedule Links">
                <a class="btn btn-primary" href="{{ link_1 }}" role="button">{{ text_1 }}</a>
                <a class="btn btn-secondary" href="{{ link_2 }}" role="button">{{ text_2 }}</a>
                <a class="btn btn-primary" href="{{ link_3 }}" role="button">{{ text_3 }}</a>
                <a class="btn btn-secondary" href="{{ link_4 }}" role="button">{{ text_4 }}</a>
            </div>
        </div>
    </div>
</div>