<div class="container">
    <div class="row justify-content-between">
        <div class="col-md col-xl-4 text-center">
                <img src="{{ speaker_image }}" class="img-fluid">
        </div>
        <div class="col-md col-xl-8 pt-3 speaker-snippet">
            <h1 class="text-red mb-0">
                {{ speaker_name }}
            </h1>
            <h5 class="speaker-snippet-sub-heading pb-3">{{ speaker_title }}</h5>
            <p class="speaker-description">{{ speaker_description }}</p>
        </div>
    </div>
</div>

<br />
