$body-bg-colour: rgb(39, 43, 54);
$body-colour: rgb(242, 248, 243);

$colour-green: rgb(0, 245, 110);
$colour-red: rgb(238, 242, 152);
$colour-blue: rgb(107, 233, 245);
$colour-white: $body-colour;

body {
  background-color: $body-bg-colour;
  color: $body-colour;
  margin: 0 auto;
  height: 100vh;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 2rem;
}

pre {
  display: block;
  padding: 0;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

a:hover .code-a {
  color: $body-colour;
}
a:hover .code-b {
  color: $body-colour;
}
a:hover .code-c {
  color: $body-colour;
}

.code-a {
  color: $colour-green;
}

.code-b {
  color: $colour-blue;
}

.code-c {
  color: $colour-red;
}

.code-d {
  color: $colour-white;
}
